body{
    background: white;
}

.intro_text{
    font-size: 2rem;
    line-height:30PX;
    color:#fff;
    margin-right: auto;
}

.head{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(226, 226, 202, 0.80);
    backdrop-filter: blur(6px);
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.btn{
    text-decoration: none;
    margin-left:50px;
    color:black;
    cursor:pointer;
}

.menu{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.5rem;
}

.body{
    list-style:none;
    text-decoration: none;
    border-collapse: collapse; 
    color:black;
}

.board_wrap{
    width: 900px;
    margin: 100px auto;
}

.board_title{
    margin-bottom: 30px;
}

.board_title strong{
    font-size: 2.5rem;
}

.board_title p{
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a{
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child{
    margin-left: 0;
}

.bt_wrap a.on{
    background: #000;
    color: #fff;
}

.board_write {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.board_write .title input[type="text"]{
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 80%;
}

.board_write .title{
    padding: 15px;
    border-bottom: 1px solid #000;
}

.board_write .title dt,
.board_write .title dd{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
}

.board_write .title dt{
    width: 120px;
}

.board_write .title dd{
    width: calc(80% - 10px);
}

.board_write .title dl{
    font-size: 0;
}

.board_write .cont{
    border-bottom: 1px solid #000;
}

.board_write .cont textarea{
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}

.btn.btn-primary{
    border:1px solid #505352;
    background-color: #505352;
    margin-right: auto;
    margin-left:  auto;
    width:100px;
    color: white;
    cursor:pointer;
}

.bt_wrap{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}